@font-face {
    font-family: 'University';
    src: url('https://github.com/qatoblmi-dev/my-font/raw/main/University_cyr.woff2') format('woff2'),
         url('https://github.com/qatoblmi-dev/my-font/raw/main/University_cyr.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
